h1{
    text-align: center;
    width: 100%;
    background: rgba(186, 255, 146, 0.473);
    padding: 0.5rem;
}
nav{
    width: 80%;
    border-radius: 2rem;
    background: white;
}
#navBar{
    display: flex;
}
#navBar:hover{
    background: rgb(255, 220, 226);
}
ul{
    list-style-type: none;
    background: rgb(255, 207, 255);
}
a{
    text-decoration: none;
    color: rgb(159, 49, 187);
}
h2{
    padding: 0.5rem
}
html{
    height: 100%;
}
body{
    font-family: monospace;
    color: rgb(61, 52, 110);
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background: linear-gradient(0deg, rgb(129, 209, 255), cyan);
}