h1{
    text-align: center;
    width: 100%;
    background: rgba(186, 255, 146, 0.473);
    padding: 0.5rem;
}
nav{
    border-radius: 0.2rem;
    background: rgb(255, 251, 234);
}
#navBar{
    display: flex;
    flex-direction:row;
    justify-content: center;
}
#navBar:hover{
    box-shadow: 0px 1px 1px rgba(33, 25, 34, 0.24), 0px 1px 1px white inset;
    background: rgb(255, 220, 226);
}
ul{
    list-style-type: none;
    border-radius: 2rem;
    background: rgb(255, 207, 255);
}
a{
    text-decoration: none;
    color: rgb(159, 49, 187);
}
h2{
    padding: 0.5rem
}
h3{
    font-size: large;
    text-align: center;
    margin: auto;
    margin-top: 2rem;
    width: 50%;
    background: white;
    padding: 1rem;
}
h4{
    font-size: large;
    text-align: center;
    margin: auto;
    margin-top: 2rem;
    width: 50%;
    background: white;
    padding: 1rem;
}
#projects{
    margin-top: 2rem;
    padding: 3rem;
    background: white;
}
html{
    height: 100%;
}
body{
    font-family: monospace;
    color: rgb(61, 52, 110);
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background: linear-gradient(0deg, rgb(129, 209, 255), cyan);
}
@media (min-width: 500px){
    #navBar{
        border-radius: 0rem;
        flex-direction: column;
    }
}
@media (min-width: 700px){
    #navBar{
        border-radius: 3rem;
        flex-direction: row;
    }
}